.back{
    background-color: rebeccapurple;
}

.container {
   
    background-color: rgb(238, 205, 16);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 450px;
    width: 750px;
    
}

.user {
    font-size: 30px;
    border: black;
    border-style: solid;
    
}

.loc {
    font-size: 30px;
    border: black;
    border-style: solid;
}
.serv {
    font-size: 30px;
    border: black;
    border-style: solid;
}

.Block {
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(73, 73, 207);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  
.Block:hover {
    background-color: rgb(173, 46, 247);
    color: rgb(255, 253, 253);
  }
 
.card {
    width: 700px;
    background-color: #fff;
    border: none;
    border-radius: 12px
}

.form-group {
    margin-top: 10px;
    height: 48px;
    border: 2px solid rgb(248, 247, 247);
    border-radius: 10px
}

.form-group:focus {
    box-shadow: none;
    border: 2px solid #006699
}


.text-center {
    font-size: 30px;
    color: blue;
    font-weight: bold;
}