
  <br> <br> <br> <br> <br>
       

  <h3 style="margin-left: 370px; margin-right: 200px; color: darkmagenta; font-size: 70px; font-family: 'Times New Roman', Times, serif;">List Of Shops Given Below</h3> <br> <br>
  <div class="container"> <br>
      <div class="user">
       <mat-icon>store</mat-icon>
        <h3>Shop id : 301</h3>
       <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
        <p>Reliance</p>
      </div> <br>
      <div class="loc">
        <mat-icon>work</mat-icon>
        <h3>Shop id : 302</h3>
        <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
        <p>Sree Sabaris</p>
      </div> <br>
      <div class="serv">
         <mat-icon>business</mat-icon>
        <h3>Shop id : 303</h3>
        <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
        <p>Trends</p>
      </div>
      <br>
          <div class="user">
             <mat-icon>store</mat-icon>
            <h3>Shop id : 304</h3>
            <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
            <p>Flowers Shop</p>
          </div> <br>
          <div class="loc">
           <mat-icon>work</mat-icon>
            <h3>Shop id : 305</h3>
            <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
            <p>Gifts Shop</p>
          </div> <br>
          <div class="serv">
            <mat-icon>store</mat-icon>
            <h3>Shop id : 306</h3>
            <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
            <p>Sri Krishna Sweets</p>
          </div>
          <br>
              <div class="user">
                <mat-icon>work</mat-icon>
                <h3>Shop id : 307</h3>
                <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
                <p>Blue Forest Cake</p>
              </div> <br>
              <div class="loc">
                <mat-icon>store</mat-icon>
                <h3>Shop id : 308</h3>
                <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
                <p>Dominoz Pizza</p>
              </div> <br>
              <div class="serv">
                <mat-icon>work</mat-icon>
                <h3>Shop id : 309</h3>
                <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
                <p>Cafe Heaven</p>
              </div> <br>
              <div class="serv">
                  <mat-icon style="height: 10%; width:10%;">business</mat-icon>
                  <h3>Shop id : 310</h3>
                  <a style="background-color: skyblue; float: right;" href="http://localhost:4200/items" >>>></a>
                  <p>Sports Equipments</p>
                </div>
                </div>

               