<br> <br> <br> <br>

<table><br>
    <tr style="font-size: 40px; font-weight: bolder;">
        &nbsp;  <td>S.no</td> &nbsp; 
        <td>Items</td> &nbsp; 
        <td>Price/kg</td> &nbsp;
    </tr> <br> <hr> <br> 
    <tr>
        &nbsp;<td>1
            <input type="checkbox" name="check1">
        </td> &nbsp;
        
        <td>Mango</td> &nbsp;
        <td>Rs.160</td> &nbsp;
    </tr> <br> <br>
    <tr>
        &nbsp; <td>2 <input type="checkbox" name="check1"> </td>&nbsp;
        <td>Apple</td>&nbsp; 
        <td>Rs.120</td>&nbsp;
    </tr> <br> <br>
    <tr>
        &nbsp; <td>3 <input type="checkbox" name="check1"> </td>&nbsp;
        <td>Orange</td>&nbsp; 
        <td>Rs.80</td>&nbsp;
    </tr> <br> <br>
    <tr>
        &nbsp;<td>4 <input type="checkbox" name="check1"> </td>&nbsp;
        <td>Pomegranate</td>&nbsp;
        <td>Rs.220</td>&nbsp;
    </tr><br> <br>
    <tr>
        &nbsp;<td>5 <input type="checkbox" name="check1"> </td>&nbsp;
        <td>Tomato</td>&nbsp; 
        <td>Rs.20</td>&nbsp;
    </tr> <br> <br>
    <tr>
        &nbsp; <td>6 <input type="checkbox" name="check1"> </td> &nbsp;
        <td>Dairy milk</td> &nbsp; 
        <td>Rs.200</td> &nbsp;
    </tr> <br> <br>
    <tr style="column-span: 3;">
    <button (click)="onBuy()" style=" font-size: large; color: tomato;">BUY</button>
    <a href="/assets/tq.jpg" style="font-size: large; color: yellow;">next</a>
</tr>
</table>
