<nav class="navbar navbar-expand-lg navbar-light sticky-top color ">
  <div class="container-fluid navbar-fixed-top">
    <p class="navbar-brand brand mt-2" href="#" style="color: tomato;">Automated Fleet Management</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
     data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav  ml-auto  link">
        <a href="#" routerLink="/home" mat-button>Home</a>
      <a href="#" routerLink="/blog" mat-button>Orders</a>
      <a href="#" routerLink="/rider" mat-button>Rider</a>
      <a href="#" routerLink="/merchant" mat-button>Merchant</a>
      <a href="#" routerLink="/about" mat-button>About</a>
      
      </div>
    </div>
  </div>
</nav>

<div >
  <router-outlet></router-outlet>
</div>

 

