<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://use.fontawesome.com/your-embed-code.js"></script> 

<div class="card mx-auto mt-4">
  

<form name="form" class="tabsize" (ngSubmit)="addrider()" #f="ngForm">

  <mat-tab-group mat-align-tabs="start" dynamicHeight class="mt-5">
    <mat-tab label="Credentials"
    >  <div class="row mt-5" >
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label >Email</mat-label>
          <input matInput [(ngModel)]="model.email"  name="email" required #email="ngModel">
         
          <mat-hint>abc@gmail.com</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>Mobile</mat-label>
          <input matInput [(ngModel)]="model.mobile"  name="mobile" required #mobile="ngModel">
         
          <mat-hint>only numbers</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>password</mat-label>
          <input matInput type="password" [(ngModel)]="model.password"  name="password" required #password="ngModel">
     
          <mat-hint>abc@012</mat-hint>
        </mat-form-field>
      </div>
      
    </div>
    <hr class="mt-2">
    <div class="row mt-5">
      
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>Rc no</mat-label>
          <input matInput  [(ngModel)]="model.rc" name="rc" type="number"  required #rc="ngModel">
     
          <mat-hint>only numbers</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>License no</mat-label>
          <input matInput  [(ngModel)]="model.license" name="license" required #license="ngModel">
     
          <mat-hint>74828hdu774</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>Insurance no</mat-label>
          <input matInput  [(ngModel)]="model.insurance" name="insurance" type="number"  required #insurance="ngModel">
     
          <mat-hint>only number</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>Vehicle no</mat-label>
          <input matInput  [(ngModel)]="model.vehicleno" name="vehicleno" type="number"  required #vehicleno="ngModel">
     
          <mat-hint>only number</mat-hint>
        </mat-form-field>
      </div>
      
    </div>
    <hr class="mt-2">
    <div class="row mt-5">
      
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>Account no</mat-label>
          <input matInput  [(ngModel)]="model.accountno" name="accountno" type="number" maxlength="12" required #accountno="ngModel">
     
          <mat-hint>only numbers</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>pan no</mat-label>
          <input matInput  [(ngModel)]="model.pan" name="pan" maxlength="10" required #pan="ngModel">
     
          <mat-hint>7828hdu774</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field  class="ml-5">
          <mat-label>ifsc code</mat-label>
          <input matInput  [(ngModel)]="model.ifsc" name="ifsc" type="number" required #ifsc="ngModel">
     
          <mat-hint>only number</mat-hint>
          
        </mat-form-field>

      </div>
      
    </div>
    <hr class="mt-2">
  </mat-tab>
    <mat-tab label="Rider Details">  <div class="row mt-4" >
      <div class="col">
        <mat-form-field appearance="fill" class="ml-5">
          <mat-label>Address</mat-label>
          <textarea matInput [(ngModel)]="model.address" name="address" required #address="ngModel"></textarea>
          <mat-icon style="color: teal;" matSuffix>home</mat-icon>
          <mat-hint>address</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="ml-5 mt-3">
          <mat-label>Area</mat-label>
          <input matInput [(ngModel)]="model.area" name="area" required #area="ngModel">
          <mat-icon style="color: slateblue;" matSuffix>streetview</mat-icon>
          <mat-hint>area name</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="ml-5 mt-3">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="model.city" name="city" required #city="ngModel">
          <mat-icon style="color: skyblue;" matSuffix>language</mat-icon>
          <mat-hint>city name</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="ml-5 mt-3">
          <mat-label>District</mat-label>
          <input matInput [(ngModel)]="model.district" name="district" required #district="ngModel">
          <mat-icon style="color: skyblue;" matSuffix>language</mat-icon>
          <mat-hint>District name</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="ml-5 mt-3">
          <mat-label>state</mat-label>
          <input matInput [(ngModel)]="model.state" name="state" required #state="ngModel">
          <mat-icon style="color: skyblue;" matSuffix>language</mat-icon>
          <mat-hint>state name</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="ml-5 mt-3">
          <mat-label>adhaar no</mat-label>
          <input matInput [(ngModel)]="model.adhaar" name="adhaar" type="number" required #adhaar="ngModel">
          <mat-icon style="color: skyblue;" matSuffix>language</mat-icon>
          <mat-hint>only numbers</mat-hint>
        </mat-form-field>
      </div>
      
    </div>
   <hr class="mt-2">
   <div class="row mt-4" >
    <div class="col">
      <mat-form-field appearance="fill" class="ml-5">
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="model.age" name="age" required #age="ngModel">
        <mat-icon style="color: tomato;" matSuffix>cake</mat-icon>
        <mat-hint>only numbers</mat-hint>
      </mat-form-field>
    </div>
  
    <div class="col">
      <mat-form-field appearance="fill" class="ml-5 ">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="model.gender" name="gender" required #gender="ngModel">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female" >Female</mat-option>
        </mat-select>
        <mat-icon style="color:slateblue;" matSuffix>person</mat-icon>
        <mat-hint>Select gender</mat-hint>
      </mat-form-field>
    </div>
  
    <div class="col">
      <mat-form-field appearance="fill" class="ml-5 ">
        <mat-label>Vehicle Type</mat-label>
        <mat-select [(ngModel)]="model.vehicletype" name="vehicletype" required #vehicletype="ngModel">
          <mat-option value="bike">Car</mat-option>
          <mat-option value="car" >Bike</mat-option>
        </mat-select>
        <mat-icon style="color: teal;" matSuffix> directions_car</mat-icon>
        <mat-hint>Select vehicle type</mat-hint>
      </mat-form-field>
    </div>
    
  </div>
  <div class="row mt-5">
    <button (click)="onReg()" type="submit" class="btn btn-primary Block">Register</button> <br>
    <a href="http://localhost:4200/test" class="btn btn-primary Block" style="width: 20%; background-color: palevioletred; margin-left: 40%;">Next</a>
  </div>
  <hr class="mt-2">
  </mat-tab>
  
  </mat-tab-group>
</form>



 

 
 
</div>


