<br> <br> <br>

<h2 style="font-size: 60px;">Practice videos for riders</h2> <br> <br>
<video class="video-fluid z-depth-1" autoplay loop controls muted>
  <source src="/assets/carvideo.mp4" type="video/mp4" />
</video>
<hr> <br> <br>
<video class="video-fluid z-depth-1" autoplay loop controls muted>
    <source src="/assets/carvideo.mp4" type="video/mp4" />
  </video>
  <hr> <br> <br>
  <video class="video-fluid z-depth-1" autoplay loop controls muted>
    <source src="/assets/carvideo.mp4" type="video/mp4" />
  </video>
<br> <br> <br>
  <h2 style="font-size: 40px; color: crimson; text-align: center;" >Some More Videos</h2>
 
  <a href="https://www.youtube.com/watch?v=9Sa-u5iIUEw">video1</a> <br>
  <a href="https://www.youtube.com/watch?v=k3JKwBkixTY">Video2</a> <br>
  <a href="https://www.youtube.com/watch?v=9qHS8aWlsiA">Video3</a> <br>
  <a href="https://www.youtube.com/watch?v=luw2xflAJHU">Video4</a> <br>
  <a href="https://www.youtube.com/watch?v=3dx04Vz3jiI">Video5</a> <br>
 

<br>
<h2>Are you ready to attend test?? click here <a href="https://docs.google.com/forms/d/1S9LeipaFLRD3ojh1YZDngn3G6rGGQeywVXmytEvFH8Y/edit" style="margin-left: 50%;">GO</a>
</h2>
